<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mobilefintech09.lookwides">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:versionCode="2"
        android:versionName="@string/look_wides2">
        <activity
            android:name=".orders.FAQActivity"
            android:label="@string/title_activity_f_a_q"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity android:name=".auth.ResetPasswordActivity"
            android:parentActivityName=".auth.LoginActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".auth.Register2Activity"
            android:parentActivityName=".auth.RegisterActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".orders.OrderSummaryActivity"
            android:parentActivityName=".orders.NewOrderActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".orders.NewOrderActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".profile.ProfileActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".cards.CardDetailsActivity"
            android:parentActivityName=".orders.OrderSummaryActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".price.PriceActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".orders.CompletedOrdersActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".orders.CurrentOrderActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".orders.AllOrdersActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".auth.RegisterActivity"
            android:label="@string/register"
            android:parentActivityName=".auth.AuthActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".auth.AuthActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".auth.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".auth.AuthActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="LockedOrientationActivity" />
         <meta-data
         android:name="co.paystack.android.PublicKey"
         android:value="pk_live_73d62170ddfe2242ae8320d112b08d11c6cddb4a" />

    </application>

</manifest>